{% extends "layout.html" %} {% block content %}

<form action="" method="POST">
  <fieldset>
    <legend><h1>Details</h1></legend>
    <div class="by1">
      <label for="name" class="element">Your Name</label>
      <input type="text" class="element" name="name" />
      <br />
      <label for="unit" class="element">Unit Required</label>
      <input type="text" class="element" name="unit" />
      <label for="phone" class="element">Mobile No</label>
      <input type="tel" name="phone" pattern="[0-9]{10}" class="element" />
      <input type="submit" class="element button" value="Send Mail" />
    </div>
  </fieldset>
</form>

{% endblock %}
