{% extends "layout.html" %}
{% block content %}
    
    <div class="about">
        <h2>
            Alpha BloodBank
        </h2>
        <p>
            Alpha BloodBank enforces Drug & Cosmetic Act, National blood policy standards and guidelines ensuring proper collection & donation, effective management and monitoring the quality and quantity of the donated blood. Considering the national roll out, e-Rakt Kosh has been developed with modular and scalable approach with configurable rule based architecture allowing customization to easily incorporate specific requirements from nationwide stakeholders.
            <br>
            This website aims at:
            <ul>
                <li>
                    The Donor Management System for identifying, tracking and blocking donors based on donor's health, donation history etc.
                </li>
                <br>
                <li>
                    A centralized Blood Inventory Management System for keeping track of the blood stock across numerous blood banks.
                </li>
                <br>
                <li>
                    Generation of rare blood group donor registries and the generation of regular repeat donors
                </li>
            </ul>
        
        </p>
    </div>
    <div class="image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6ozHC2fCqrTgFkVsZSQRtkJx8V9OQA9SZIA&usqp=CAU">
    </div>
    
{% endblock %}